<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".InstaStyleApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstaStylePE"
        tools:targetApi="31">

        <!-- CleverTap credentials, injected from gradle.properties at build time. -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="${clevertapAccountId}" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="${clevertapToken}" />
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="${clevertapRegion}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StoryViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.InstaStyle.StoryViewer"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>
